.menu-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 3.5rem;
  cursor: pointer;
}

.menu-icon {
  position: relative;
  bottom: 2px;
  // transform: scale(1.5);
}

.route-restricted {
  color: silver;
}