:root {
--google-blue: #1E88E5;
--google-green: #4CAF50;
--google-yellow: #FFC107;
--google-red: #F44336;
--theme-primary: #00B8D4;
--theme-accent: #FFD600;
--theme-warn: #FF6D00;
}

// CSS Reset
html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #EEEEEE;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
